{% extends "base/base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
  <strong>Invalid login.</strong> Your username and password didn't match. Please try again.

  If you lost your password, reset it in <a class="text-muted" href="https://campusnet.jacobs-university.de">CampusNet</a>.
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

{% endblock %}

{% block auth %}
{% endblock %}